@model FreelancerCorp.BusinessLayer.DTOs.CorporationDTO

@{
    ViewBag.Title = "Corporation details";
}

<h2>Get ready for the information about this ULTIMATE corporation:</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dt>
            Average rating
        </dt>

        <dd>
            @if (Model.SumRating.HasValue)
            {
                <strong class="text-danger" style="color:darkgreen">@string.Format("{0:N2}", @Model.SumRating)</strong>
            }
            else
            {
                <strong class="text-danger">No rated yet</strong>
            }
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(@Model.PhoneNumber))
            {
                <a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a>
            }
            else
            {
                <p>
                    No phone number given.
                </p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            <a href="mailto:@Model.Email">@Model.Email</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>

<h4> Taken offers: </h4>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Price
        </th>
    </tr>
    @foreach (var offer in Model.AppliedToOffers)
    {

        <tr>
            <td>
                <strong class="text-danger">@offer.Name</strong>
            </td>
            <td>
                <strong class="text-danger">@offer.Category</strong>
            </td>
            <td>
                <strong class="text-danger">@offer.Price</strong>
            </td>
            <td>
                <strong class="text-danger">@Html.ActionLink("Details", "Details", "Offers", new { id = offer.Id }, new { @class = "navbar-brand" })</strong>
            </td>
        </tr>

    }
</table>


<h4> Created Offers: </h4>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Price
        </th>
    </tr>
    @foreach (var offer in Model.Offers)
    {

        <tr>
            <td>
                <strong class="text-danger">@offer.Name</strong>
            </td>
            <td>
                <strong class="text-danger">@offer.Category</strong>
            </td>
            <td>
                <strong class="text-danger">@offer.Price</strong>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Offers", new { id = offer.Id }, new { @class = "navbar-brand" })
            </td>
        </tr>

    }
</table>

<h4> Ratings for you: </h4>
<table class="table">
    <tr>
        <th>
            Creator
        </th>
        <th>
            Score
        </th>
    </tr>
    @foreach (var rating in Model.Ratings)
    {
        <tr>
            <td>
                <strong class="text-danger">@rating.creator</strong>
            </td>
            <td>
                <strong class="text-danger">@rating.rating.Score</strong>
            </td>
            <td>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Ratings", new { id = rating.rating.Id, ratedUserName = User.Identity.Name }, new { @class = "navbar-brand" })
            </td>
        </tr>

    }
</table>

<p>
    @Html.ActionLink("Edit", "EditProfile")
</p>
