@model FreelancerCorp.PresentationLayer.Models.Accounts.CorporationProfileModel

@{
    ViewBag.Title = "Corporation details";
}

<h2>Get ready for the information about this ULTIMATE corporation:</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CorporationDTO.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorporationDTO.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorporationDTO.Info)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.CorporationDTO.AverageRating)
        </dt>

        <dd>
            @if (Model.CorporationDTO.AverageRating.HasValue)
            {
                <strong class="text-danger" style="color:darkgreen">@string.Format("{0:N2}", @Model.CorporationDTO.AverageRating)</strong>
            }
            else
            {
                <strong class="text-danger">No rated yet</strong>
            }
        </dd>

        <dd>
            @Html.DisplayFor(model => model.CorporationDTO.Info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorporationDTO.PhoneNumber)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(@Model.CorporationDTO.PhoneNumber))
            {
                <a href="tel:@Model.CorporationDTO.PhoneNumber">@Model.CorporationDTO.PhoneNumber</a>
            }
            else
            {
                <p>
                    No phone number given.
                </p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorporationDTO.Email)
        </dt>

        <dd>
            <a href="mailto:@Model.CorporationDTO.Email">@Model.CorporationDTO.Email</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorporationDTO.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorporationDTO.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorporationDTO.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorporationDTO.Location)
        </dd>
    </dl>
</div>

<h4> Taken offers: </h4>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Price
        </th>
    </tr>
    @foreach (var offer in Model.CorporationDTO.AppliedToOffers)
    {

        <tr>
            <td>
                <strong class="text-danger">@offer.Name</strong>
            </td>
            <td>
                <strong class="text-danger">@offer.Category</strong>
            </td>
            <td>
                <strong class="text-danger">@offer.Price</strong>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Offers", new { id = offer.Id }, new { @class = "navbar-brand" })
            </td>
        </tr>

    }
</table>


<h4> Created Offers: </h4>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Price
        </th>
    </tr>
    @foreach (var offer in Model.CorporationDTO.Offers)
    {

        <tr>
            <td>
                <strong class="text-danger">@offer.Name</strong>
            </td>
            <td>
                <strong class="text-danger">@offer.Category</strong>
            </td>
            <td>
                <strong class="text-danger">@offer.Price</strong>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Offers", new { id = offer.Id }, new { @class = "navbar-brand" })
            </td>
        </tr>

    }
</table>

<h4> Ratings for you: </h4>
<table class="table">
    <tr>
        <th>
            Creator
        </th>
        <th>
            Score
        </th>
    </tr>
    @foreach (var rating in Model.CorporationDTO.Ratings)
    {
        <tr>
            <td>
                <strong class="text-danger">@rating.creator</strong>
            </td>
            <td>
                <strong class="text-danger">@rating.rating.Score</strong>
            </td>
            <td>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Ratings", new { id = rating.rating.Id }, new { @class = "navbar-brand" })
            </td>
        </tr>

    }
</table>

<p>
    @Html.ActionLink("Edit", "EditProfile") |
    @Html.ActionLink("Back to List", "Index")
</p>
