@model FreelancerCorp.PresentationLayer.Models.Offers.OfferListViewModel
@using FreelancerCorp.BusinessLayer.DTOs.Enums

@{
    ViewBag.Title = "Offers list";
}

<h2>Here you can see all ULTIMATE offers</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Filter fields:</h4>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Filter.SearchedName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Filter.SearchedName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Filter.SearchedCategory, new { htmlAttributes = new { @class = "form-control" } })                
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Filter.SearchedPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Filter.SearchedPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Filter" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Creator name</th>
        <th>Applier name</th>
        <th>Details</th>
    </tr>

    @foreach (var offer in Model.Offers)
    {
        <tr>
            <td>
                <strong class="text-danger">@offer.offer.Name</strong>
            </td>
            <td>
                <strong class="text-danger">@offer.offer.Category</strong>
            </td>
            <td>
                <strong class="text-danger">@offer.offer.Price</strong>
            </td>
            <td>
                <strong class="text-danger">@offer.creatorName</strong>
            </td>
            <td>
                @if (offer.offer.State == State.Finished)
                {
                    <strong class="text-danger" style="color:forestgreen">Finished</strong>
                }
                else if (offer.offer.State == State.InProgress)
                {
                    <strong class="text-danger" style="color:darkorange">In progress</strong>
                }
                else
                {
                    <strong class="text-danger" style="color:darkred">Not assigned</strong>
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = offer.offer.Id })
            </td>
        </tr>
    }

</table>

<div>
    <ul class="pagination justify-content-center">
        @for (var i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(i == Model.CurrentPageIndex ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }
    </ul>
</div>
