@model FreelancerCorp.PresentationLayer.Models.Offers.OfferListViewModel
@using FreelancerCorp.BusinessLayer.DTOs.Enums

@{
    ViewBag.Title = "OfferListView";
}

<h2>OfferListView</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Creator name</th>
    </tr>

@foreach (var offer in Model.Offers) {
<tr>
    <td>
        <strong class="text-danger">@offer.offer.Name</strong>
    </td>
    <td>
        <strong class="text-danger">@offer.offer.Category</strong>
    </td>
    <td>
        <strong class="text-danger">@offer.offer.Price</strong>
    </td>
    <td>
        <strong class="text-danger">@offer.creatorName</strong>
    </td>
    <td>
        @if (offer.offer.State == State.Finished)
        {
            <strong class="text-danger" style="color:forestgreen">Finished</strong>
        }
        else if (offer.offer.State == State.InProgress)
        {
            <strong class="text-danger" style="color:darkorange">In progress</strong>
        }
        else
        {
            <strong class="text-danger" style="color:darkred">Not assigned</strong>
        }
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = offer.offer.Id})
    </td>
</tr>
}

</table>
