@model FreelancerCorp.PresentationLayer.Models.Offers.OfferDetailViewModel

@{
    ViewBag.Title = "OfferDetailView";
}

<h2>OfferDetailView</h2>

<div>
    <h4>OfferEditViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Offer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Offer.Description)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Offer.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offer.Category);
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Offer.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offer.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offer.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offer.AdditionalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offer.AdditionalInfo)
        </dd>

        <dt>
            Creator name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.name)
        </dd>
        <dt>
            Applier name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Applier.name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Offer.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
