@model FreelancerCorp.PresentationLayer.Models.Offers.OfferDetailViewModel
@using FreelancerCorp.BusinessLayer.DTOs.Enums

@{
    ViewBag.Title = "OfferDetailView";
}

<h2>ULTIMEATE DETAILED VIEW of this ULTIMATE offer</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Offer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Offer.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offer.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Offer.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offer.Category);
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Offer.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offer.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Offer.AdditionalInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offer.AdditionalInfo)
        </dd>
        <dt>
            Creator name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creator.name)
        </dd>
        <dt>
            Applier name
        </dt>
        <dd>
            @if (Model.Applier.id.HasValue)
            {
                @Html.DisplayFor(model => model.Applier.name)
            }
            else
            {
                <p style="color:darkred">No one applied yet</p>
            }
        </dd>
    </dl>
</div>
<p>
    @if (Request.IsAuthenticated)
    {
        if (User.Identity.Name == Model.Creator.name)
        {
            if (!Model.Offer.State.Equals(State.Finished))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Offer.Id })
            }
        }
        else
        {
            if (!Model.Applier.id.HasValue)
            {
                @Html.ActionLink("Enroll", "Enroll", new { id = Model.Offer.Id, authenticated = Request.IsAuthenticated })
            }
        }

    }
    @if (!Request.IsAuthenticated)
    {
        if (!Model.Applier.id.HasValue)
        {
            @Html.ActionLink("Enroll", "Enroll", new { id = Model.Offer.Id, authenticated = Request.IsAuthenticated })
        }
    }
    @if (Model.Applier.id.HasValue)
    {
        if (Request.IsAuthenticated && Model.Creator.name == User.Identity.Name)
        {
            @Html.ActionLink("Close offer", "Finish", new { id = Model.Offer.Id })
        }
    }
    @Html.ActionLink("Back to List", "Index")
</p>
